footer {
  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
}

footer section {
  background-color: #353535;
  border-radius: 10px;
  padding: 30px 15px;
  margin-bottom: 30px;
}

footer .container {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
}

footer .categories ul {
  grid-template-columns: repeat(2, 1fr);
}

footer a {
  color: #fff;
  line-height: 32px;
  text-decoration: none;
}

footer h4 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}
